@{
    ViewBag.Title = "Preview Richiesta";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">

    <ul class="list-group">
        @foreach(var prodotto in ViewBag.prodotti) {
            <li class="list-group-item">
                @prodotto.Codice - @prodotto.Descrizione - @prodotto.quantita
            </li>
        }
    </ul>
    <a class="btn btn-primary" href="" role="button">Conferma</a>
    <a class="btn btn-primary" role="button">Pulisci</a>
    <a class="btn btn-primary" role="button">Annulla</a>
</div>